<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student</title>
</head>
<body>
{% if user.is_authenticated %}
    <a href ="logout">Выйти ({{ user.username }})</a>
{% else %}
    <a href ="register">Регистрация на сайте</a>
    <a href ="login">Авторизация</a>
{% endif %}

    <h1>{{ greeting }} {{ imya }}!! Расписание для  {{ nomerKlassa }} класса</h1>
<table>
<caption>Ваши уроки</caption>
  <tr>
    <th>Дата</th>
    <th>№ п/п</th>
    <th>Время начала</th>
    <th>Название предмета</th>
    <th>Тема урока</th>
    <th>Преподаватель</th>
    <th>Комментарий</th>
    <th>Ссылка на урок</th>
    <th>ID</th>
  </tr>
    {% for urok in uroki %}
  <tr>
    <td>{{urok.date_field }}</td>
    <td>{{urok.nomer_uroka }}</td>
    <td>{{urok.vremya_nachala_uroka }}</td>
    <td>{{urok.nazvanie_predmeta }}</td>
    <td>{{urok.tema_uroka }}</td>
    <td>{{urok.prepodavatel }}</td>
    <td>{{ urok.kommentaryi }}</td>
    <td>{{ urok.ssylka_na_urok }}</td>
    <td>{{ urok.id }}</td>
  </tr>
    {% endfor %}

</table>
</body>
</html>